[submodule "build"]
	path = build
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "framework"]
	path = framework
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "algorithms"]
	path = algorithms
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "data"]
	path = data
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "models"]
	path = models
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "tests"]
	path = tests
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "deploy"]
	path = deploy
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "docs"]
	path = docs
	url  = https://gitee.com/huhengyu/Algorithm-integration
