[submodule "build"]
	path = build
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "framework"]
	path = framework
	url  = https://gitee.com/huhengyu/Algorithm-integration

[submodule "algorithms"]
	path = algorithms
	url  = https://gitee.com/huhengyu/Algorithm-integration
